@import 'reset';
@import 'typographyConfig';
@import 'colorsConfig';
@import 'layoutConfig';

body {
  min-height: 100vh;
  padding: @padding-medium;
  background-color: @background-main;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product-card {
  background-color: @card-background;
  border-radius: @border-radius-large;

  @media (min-width: @breakpoint-small) {
    width: 600px;
    min-width: 14em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .product-card__image-wrapper-mobile {
    @media (min-width: @breakpoint-small) {
      display: none;
    }
  }

  .product-card__image-wrapper-desktop {
    display: none;

    @media (min-width: @breakpoint-small) {
      height: 100%;
      display: block;
    }
  }

  .product-card__image {
    border-radius: @border-radius-img-mobile;
    object-fit: cover;

    @media (min-width: @breakpoint-small) {
      height: 100%;
      border-radius: @border-radius-img-desktop;
    }
  }

  .product-card__content-container {
    padding: @padding-large;

    @media (min-width: @breakpoint-small) {
      padding: 32px;
      align-self: center;
    }
  }

  .product-card__tag {
    #bundle.tag();
    color: @tag-color;
    text-decoration: none;
  }

  .product-card__title {
    #bundle.heading();
    color: @heading-color;
    margin-top: @margin-top-small;

    @media (min-width: @breakpoint-small) {
      margin-top: @margin-top-medium;
    }
  }

  .product-card__text {
    #bundle.body();
    color: @body-color;
    margin-top: @margin-top-medium;

    @media (min-width: @breakpoint-small) {
      margin-top: @margin-top-large;
    }
  }

  .product-card__pricing {
    margin-top: @margin-top-large;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (min-width: @breakpoint-small) {
      margin-top: @margin-top-extra-large;
    }
  }

  .product-card__price--sale {
    #bundle.pricing();
    color: @price-color;
  }

  .product-card__price--original {
    #bundle.old-pricing();
    color: @old-price-color;
    margin-left: 16px;
    text-decoration: line-through;
  }

  .product-card__footer {
    margin-top: @margin-top-large;

    @media (min-width: @breakpoint-small) {
      margin-top: @margin-top-extra-large;
    }
  }

  .product-card__button {
    #bundle.button();
    width: 100%;
    padding: @padding-medium;
    background-color: @button-bg;
    color: @button-text;
    border: none;
    border-radius: @border-radius-small;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: @button-hover-bg;
      cursor: pointer;
    }

    &:focus {
      background-color: @button-hover-bg;
    }
  }

  .product-card__button span {
    margin-left: 11px;
  }
}

.attribution {
  #bundle.footer();
  color: @footer-color;
  text-align: center;
  position: absolute;
  bottom: 0;

  a {
    color: @footer-link-color;
  }
}
